- # coding: utf-8
:ruby
  custum_fields = [
    {
      type: :select,
      title: "セレクトボックス",
      name: "selec_name",
      options: [
        { label: "選択肢１" , value: '1' },
        { label: "選択肢２" , value: '2' },
      ]
    },
    {
      type: :radio,
      title: "ラジオボタン",
      name: "radio_name",
      options: [
        { label: "選択肢１" , value: '1' },
        { label: "選択肢２" , value: '2' },
      ]
    },
    {
      type: :check_box,
      title: "チェックボックス",
      name: "check_box_name",
      options: [
        { label: "選択肢１" , value: '1' },
        { label: "選択肢２" , value: '2' },
      ]
    },
    {
      type: :textarea,
      title: "テキストエリア",
      name: "textarea_name"
    },
    {
      type: :images,
      title: "画像グループ",
      group_name: "photos",
      name: "photo",
      alt: true,
      props: {
        width: 1200,
        tinyWidth: 200,
        squareWidth: 500
      }
    }
  ]
- custum_fields.each do |field_data|
  = Haml::Engine.new(File.read("../_field.haml")).render(Object.new, path: "../", data: field_data)
