- # coding: utf-8
:ruby
  base_props = {
    width: 1200,
    tinyWidth: 200,
    squareWidth: 500,
  }
  custum_fields = [
    {
      type: :select,
      title: "せんたく",
      name: "selec",
      options: [
        { label: "あ" , value: 'aaa' },
        { label: "位" , value: 'iii' },
      ]
    },
    {
      type: :radio,
      title: "らじお",
      name: "raji",
      options: [
        { label: "ええ" , value: 'ee' },
        { label: "おお" , value: 'oo' },
      ]
    },
    {
      type: :check_box,
      title: "ちぇっく",
      name: "ch",
      options: [
        { label: "ca" , value: 'caca' },
        { label: "cb" , value: 'cbcb' },
      ]
    },
    {
      type: :textarea,
      title: "えりあ",
      name: "area"
    },
    {
      type: :images,
      title: "鳥居",
      group_name: "torii_photos",
      name: "torii_photo",
      alt: true,
      props: base_props,
    },
    {
      type: :images,
      title: "狛犬（左）",
      group_name: "komainu_left_photos",
      name: "komainu_left_photo",
      alt: true,
      props: base_props,
    },
    {
      type: :images,
      title: "狛犬（右）",
      group_name: "komainu_right_photos",
      name: "komainu_right_photo",
      alt: true,
      props: base_props,
    },
    {
      type: :images,
      title: "灯篭（左）",
      group_name: "tourou_left_photos",
      name: "tourou_left_photo",
      alt: true,
      props: base_props,
    },
    {
      type: :images,
      title: "灯篭（右）",
      group_name: "tourou_right_photos",
      name: "tourou_right_photo",
      alt: true,
      props: base_props,
    },
    {
      type: :images,
      title: "その他",
      group_name: "other_photos",
      name: "other_photo",
      alt: true,
      props: base_props,
    }
  ]
- custum_fields.each do |field_data|
  = Haml::Engine.new(File.read("../_field.haml")).render(Object.new, path: "../", data: field_data)
